.items {
  list-style-type: none;
  padding: 0;
}

.single-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.single-item span {
  flex-grow: 1;
}

.single-item input[type="text"] {
  flex-grow: 1;
  padding: 4px;
  font-size: 1rem;
}
